---
http_interactions:
  - request:
      method: post
      uri: https://harvest.greenhouse.io/v1/custom_fields
      body:
        encoding: UTF-8
        string: '{"name":"Hello Salary","field_type":"offer","value_type":"currency","required":true,"trigger_new_version":true}'
      headers:
        Content-Type:
          - application/json
        On-Behalf-Of:
          - "4163536003"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Status:
          - 200 OK
        X-Ratelimit-Limit:
          - "50"
        X-Ratelimit-Remaining:
          - "49"
      body:
        encoding: ASCII-8BIT
        string:
          '{"value_type":"currency","trigger_new_version":true,"template_token_string":null,"required":true,"require_approval":false,"private":true,"priority":9,"offices":[],"name_key":"salary_offer_1616501198.9645488","name":"Salary",
          "id":5698659003,"field_type":"offer","expose_in_job_board_api":false,"description":null,"departments":[],"custom_field_options":[],"api_only":false,"active":true}'
    recorded_at: Tue, 23 Mar 2021 12:06:39 GMT
recorded_with: VCR 6.0.0
