---
http_interactions:
  - request:
      method: post
      uri: https://harvest.greenhouse.io/v1/custom_field/8284871003/custom_field_options
      body:
        encoding: UTF-8
        string:
          '{"options":[{"name":"Option A","priority":5,"external_id":"3z84k11"},{"name":"Option
          B","priority":6,"external_id":"null"},{"name":"Option C","priority":7,"external_id":"32290"}]}'
      headers:
        Content-Type:
          - application/json
        On-Behalf-Of:
          - "4384877003"
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Status:
          - 201 Created
        X-Ratelimit-Limit:
          - "50"
        X-Ratelimit-Remaining:
          - "47"
      body:
        encoding: UTF-8
        string: '{"success":true}'
    recorded_at: Thu, 10 Feb 2022 22:35:55 GMT
recorded_with: VCR 6.0.0
