---
http_interactions:
  - request:
      method: post
      uri: https://harvest.greenhouse.io/v1/custom_fields
      body:
        encoding: UTF-8
        string: '{"name":"Hello Salary","field_type":"offer","value_type":"currency","required":true,"trigger_new_version":true}'
      headers:
        Content-Type:
          - application/json
        On-Behalf-Of:
          - "99"
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Status:
          - 404 Not Found
        X-Ratelimit-Limit:
          - "50"
        X-Ratelimit-Remaining:
          - "49"
      body:
        encoding: UTF-8
        string: '{"message":"Resource not found"}'
    recorded_at: Tue, 23 Mar 2021 12:08:46 GMT
recorded_with: VCR 6.0.0
