---
http_interactions:
  - request:
      method: get
      uri: https://harvest.greenhouse.io/v1/custom_field/5698659003
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Status:
          - 200 OK
        X-Ratelimit-Limit:
          - "50"
        X-Ratelimit-Remaining:
          - "49"
      body:
        encoding: ASCII-8BIT
        string: '{"id":5698659003,"name":"Hello Salary","active":false,"field_type":"offer","priority":9,"value_type":"currency","private":true,"required":true,"require_approval":false,"trigger_new_version":true,"name_key":"hello_salary_offer_1616501198.9645488","description":null,"expose_in_job_board_api":false,"api_only":false,"offices":[],"departments":[],"template_token_string":null,"custom_field_options":[]}'
    recorded_at: Thu, 10 Feb 2022 21:33:48 GMT
recorded_with: VCR 6.0.0
