---
http_interactions:
  - request:
      method: patch
      uri: https://harvest.greenhouse.io/v1/custom_field/8284871003/custom_field_options
      body:
        encoding: UTF-8
        string:
          '{"options":[{"id":123,"name":"Option D","priority":5},{"id":234,"name":"Option
          E","priority":6},{"id":345,"name":"Option F","priority":7}]}'
      headers:
        Content-Type:
          - application/json
        On-Behalf-Of:
          - "4384877003"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Status:
          - 200 OK
        X-Ratelimit-Limit:
          - "50"
        X-Ratelimit-Remaining:
          - "49"
      body:
        encoding: UTF-8
        string: '{"success":true}'
    recorded_at: Thu, 10 Feb 2022 22:38:37 GMT
recorded_with: VCR 6.0.0
