---
http_interactions:
  - request:
      method: patch
      uri: https://harvest.greenhouse.io/v1/custom_field/8284871003/custom_field_options
      body:
        encoding: UTF-8
        string:
          '{"options":[{"id":123,"name":"Option D","priority":5},{"id":234,"name":"Option
          E","priority":6},{"id":456,"name":"Option F","priority":7}]}'
      headers:
        Content-Type:
          - application/json
        On-Behalf-Of:
          - "99"
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Status:
          - 404 Not Found
        X-Ratelimit-Limit:
          - "50"
        X-Ratelimit-Remaining:
          - "49"
      body:
        encoding: UTF-8
        string: '{"message":"Resource not found"}'
    recorded_at: Thu, 10 Feb 2022 22:39:10 GMT
recorded_with: VCR 6.0.0
